{% extends "base.html" %} {% block main %} {% load bootstrap %}

<div class="row">
  <div class="col-12">
    <h2>Lista Pessoas</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <form action="{% url 'core_pessoas_novo' %}" method="POST">
      {% csrf_token %} {{ form|bootstrap_horizontal }}

      <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
  </div>

  <div class="col-sm-6">
    <ul>
      {% for pessoa in pessoas %}
      <li>
        {{ pessoa.nome }}

        <a
          href="{% url 'core_pessoa_delete' pessoa.id %}"
          class="btn btn-danger"
          >Deletar</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock main %}
